@import 'src/styles/index';

.buttonStyle {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.boxButton {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $base02;
  width: 100%;
  height: 4.8rem;
  border-radius: 0.8rem;
  padding: 1.2rem 0.8rem 1.2rem 1.6rem;
  &:hover {
    background-color: $base03;
    cursor: pointer;
  }
}

.boxText {
  color: $white;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: 'Inter500';
}

.boxIcon {
  height: 2.4rem;
}
