@import 'src/styles/index';

.middleHeader {
  //자식 요소에서  absolute를 사용하는데 부모의 위치를 반영하도록한다
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 2.8rem;
  margin: 0.8rem 0 1.6rem 0;
  color: $white;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'Inter600';
}

.elipse {
  position: absolute;
  display: flex;
  left: 1.6rem;
  border-radius: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
