@import 'src/styles/index';

.scaffold {
  position: relative;
  background-color: $base01;
  width: 36rem;
  height: 60rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

.mainField {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  //위치값 사용시 절대값은 지양, 타 컴포넌트의 값을 받아올 수 있는지 공부해볼것
  height: calc(100% - 10.4rem);
  padding: 0 1.6rem 1.6rem 1.6rem;
  justify-content: space-between;
  row-gap: 0.8rem;
}

.ListView {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.5rem; /* 스크롤바의 너비 */
  }
  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: $base03; /* 스크롤바의 색상 */
    border-radius: 1rem;
  }
}
