@import 'src/styles/index';

.scaffold {
  background-color: $base01;
  width: 36rem;
  height: 60rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.mainField {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  //위치값 사용시 절대값은 지양
  height: calc(100% - 10.4rem);
  padding: 0 1.6rem 1.6rem 1.6rem;
  justify-content: flex-start;
  row-gap: 0.8rem;
}
