@import 'src/styles/index';

$topHeight: 2.4rem;
$topMarginBottom: 2.1rem;
$topHeaderHeight: calc($topHeight + $topMarginBottom);

.background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 100, 100, 0.3);
}

.dialogContainer {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 32rem;
  height: 21.4rem;
  border: 0.1rem solid $base03;
  border-radius: 0.8rem;
  background-color: $base01;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.topHeader {
  display: flex;
  height: $topHeight;
  justify-content: space-between;
  font-family: 'Inter600';
  font-size: 1.5rem;
  line-height: 1.8rem;
  align-items: center;
  color: $white;
  margin-bottom: $topMarginBottom;
}

.inputBox {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $base03;
  background-color: $base02;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: 'Inter500';
  padding: 0.8rem 1.2rem;
  color: $white;
  &::placeholder {
    color: $text02;
  }
}

.footerSummitButton {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0;
  background-color: $purple01;
  padding: 1.5rem 0;
  color: $white;
  font-family: 'Inter600';
  font-size: 1.5rem;
  line-height: 1.8rem;
  &:disabled {
    background-color: $base03;
    color: $text02;
    &:hover {
      cursor: no-drop;
    }
  }
}

.mainContainer {
  display: flex;
  height: calc(100% - $topHeaderHeight);
  flex-direction: column;
  justify-content: space-between;
}

.iconButton {
  height: 2.4rem;
}
