@import 'src/styles/index';

.scaffold {
  background-color: $base01;
  width: 36rem;
  height: 60rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.mainField {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  //위치값 사용시 절대값은 지양
  height: calc(100% - 10.4rem);
  padding: 0 1.6rem 1.6rem 1.6rem;
  justify-content: space-between;
  row-gap: 0.8rem;
}

.inputBox {
  box-sizing: border-box;
  width: 100%;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: 0.1rem solid;
  border-color: $base03;
  background-color: $base02;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-family: 'Inter500';
  padding-left: 1.2rem;
  color: $white;
  &::placeholder {
    color: $text02;
  }
}

.footerField {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
}

.textButton {
  background-color: transparent;
  color: $purple02;
  font-size: 1.2rem;
  line-height: 1.452rem;
  font-family: 'Inter500';
  text-decoration: underline;
  border: 0;
  padding: 0 0 0 0.5rem;
}

.rowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.7rem;
  height: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $white;
  font-family: 'Inter500';
}

.footerBoxButton {
  border: 0.1rem solid $base04;
  border-radius: 0.8rem;
  width: 12.6rem;
  height: 3.2rem;
  background-color: transparent;
  padding: 0;
}

.footerBoxContainer {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem 0.4rem 0.4rem;
  column-gap: 0.6rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $white;
  font-family: 'Inter500';
}
